.mainmark {
  color: #3498db;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.markdown {
  padding: 10px;
  word-wrap: break-word;
  background-color: white;
}

.titleInput {
  background-color: #3498db;
  color: white;
  padding: 5px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.textarea {
  margin-top: 2rem;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border: 0.1rem solid currentColor;
}

.characters {
  margin-top: 0.2rem;
}

.bg {
  background-color: transparent;
}

.upload {
  padding: 10px;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: transparent;
  cursor: pointer;
  margin: 0px 10px 20px 0;
  text-decoration: none;
  color: white;
}

.pos {
  position: relative;
  margin-left: 20%;
  margin-top: 10px;
}
