.upload_page {
  margin: 0 auto;
  width: 95vw;
}
.upload_page label {
  padding: 10px;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.upload_page img {
  position: relative;
  margin: 0 auto;
  margin-left: -25%;
  width: 60%;
  height: 60%;
}
.upload-btn-wrapper {
  position: relative;
  margin-left: 45%;
  padding-top: 10%;
}

.next {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 10px;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: transparent;
  cursor: pointer;
  margin: 150px 10px 20px 0;
  text-decoration: none;
  color: white;
}
