.upload_page {
  margin: 0 auto;
  width: 95vw;
}
.white {
  color: white;
}

.upload_page label {
  padding: 10px;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.upload_page img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 60%;
}
.upload-btn-wrapper {
  position: relative;
  padding-top: 4rem;
}

.next {
  margin: 10rem 0;
}

.next > * + * {
  margin-left: 1rem;
}
