.edit_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 2em;
}

.saveButton {
  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}

.bio {
  outline: none;
  height: 2em;
  padding: 1em;
  border-radius: 10px;
}

.url {
  outline: none;
  height: 2em;
  padding: 1em;
  border-radius: 10px;
}

.inputs {
  display: inline-block;
  position: relative;
  text-align: right;
  margin-top: 10px;
}
