.edit_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
  height: 99vh;
  width: auto;
}

.saveButton {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  margin-bottom: 2em;
}
.profileImg {
  position: absolute;
  top: 20em;
  left: 5em;
}
.img {
  width: fit-content;
}
.coverImg {
  position: relative;
  width: 94em;
  object-fit: cover;
  height: 15em;
  top: -8.3em;
}

.coverImg:hover {
  opacity: 0.8;
}

.profileImg:hover{
    opacity:0.8;
}

@media (max-width: 600px) {
  .coverImg {
    position: relative;
    width: 21.5em;
    object-fit: cover;
    height: 10em;
    top: -7em;
  }
  .profileImg {
    position: absolute;
    top: 15em;
    left: 2em;
  }

  input:nth-child(1) {
    display: none;
  }
}
