body {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.edit_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.coverImage {
  width: 100%;
  object-fit: cover;
}

.profileImage {
  border-radius: 100%;
  position: inherit;
  bottom: 4em;
  left: 2em;
  width: 150px;
  height: 150px;
  align-self: center;
  margin-top: -5rem;
  object-fit: cover;
}

.inputs {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
input {
  margin-bottom: 50px;
}

fieldset.fieldSet {
  padding: 5em;
  display: flex;
  flex-direction: column;
}

.legendHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--primary-blue);
}

.inputs input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 50rem;
  outline: none;
}

.saveButton {
  background-color: var(--primary-blue);
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 500;
  border: none;
  outline: none;
  position: relative;
  top: 2em;
  padding: 0.5em 1.8em;
  border-radius: 10px;
  margin-bottom: 10em;
  cursor: pointer;
}

.inputs label:nth-child(8) {
  margin-top: 5em;
}
.inputs label:nth-child(10) {
  margin-top: 5em;
}

.bioInput {
  height: 10em;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
