@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

:root {
  --primary-blue: #3498db;
  --dark-blue: #142850;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--dark-blue);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  color: var(--primary-blue);
  /* width: 20%; */
}

.search {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  /* margin-left: -10em; */
}

.searchBar {
  background-color: var(--primary-blue);
  border: none;
  height: 2.7em;
  border-radius: 0.5em;
  color: #fff;
  padding: 0 1em;
}

/* @media (max-width: 1400px) {
  .search{
    
  }
} */

.searchIcon {
  width: 30%;
  margin-left: -1.4em;
  color: #fff;
}
.searchIcon:hover {
  cursor: pointer;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 4em;
}

.navToggle {
  display: none;
}
.hamburger {
  display: none;
}

.navLink {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--primary-blue);
  font-weight: 700;
}
.navLink:hover {
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}

.main {
  color: white;
  height: 100%;
}

.headerTitle {
  /* padding-top: 2rem; */
  padding-left: 4rem;
  color: var(--primary-blue);
}

.title {
  padding: 1rem 0;
  margin: 8px 0;
  margin-left: 3px;
  font-size: 1.7rem;
  color: #fff;
  flex: 1;
  height: 100%;
}
.title::first-letter {
  text-transform: uppercase;
}

.heroBanner {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.exploreBtnGroup {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exploreBtn {
  margin: 0 2rem;
  padding: 0.5rem 3rem;
  background-color: transparent;
  color: #fff;
  border: 0.1rem solid var(--primary-blue);
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.exploreBtnActive {
  background-color: #fff;
  color: var(--dark-blue);
}

.blogCardContainer {
  margin-top: 2em;

  display: grid;
  padding: 0 4rem;
  grid-template-columns: repeat(3, minmax(14rem, 25.5rem));
  justify-content: center;
  /* align-items: stretch; */
  gap: 6rem 2rem;
}

.blogCover {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  height: 185px;

  object-fit: cover;
}
.cardBox {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  min-width: 100%;
}

.blogDetails {
  flex: 1;
}

.authorName {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.text {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.3em;
  padding-bottom: 15px;
  margin: 0.2em 70px 0.5em 43px;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.6em;
  margin-top: -0.5em;
}

.pushRight {
  position: relative;
  left: 30px;
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}
.icon {
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}
.likes {
  display: flex;
}
.iconContainer {
  padding: 5px;
}
/* .thumbUpAlt {
  position: relative;
  top: 5px;
}
.thumbDownAlt {
  position: relative;
  top: 5px;
} */

.avatar {
  border-radius: 2em;
  width: 40px;
  height: 40px;
}

/* To change the colour of like and dislike button use this css */
/* .thmbicon{
  color:#142850;
}  */

/* page number */
.pageNum {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageNum .icon,
.pageNum div {
  width: 46px;
  height: 44px;
  background: #3598db;
  margin: 0 10px;
  padding-top: 13px;
  font-size: large;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px 30px 30px 0;
}
.pageNum .icon:hover,
.pageNum div:hover {
  background-color: #106096;
}

.viewMore {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  width: max-content;

  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.statusMessage {
  padding: 2rem 0;
  text-align: center;
  color: #fafafa;
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .pageNum {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .logo {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .pageLinks {
    width: fit-content;
  }
}
@media (max-width: 1100px) {
  .nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .links {
    display: none;
  }
  .hamburger {
    display: block;
    width: fit-content;
  }

  .hamburgerIcon {
    color: var(--primary-blue);
    font-size: 2rem;
    /* position: relative;
		left: 6.5em;
		bottom: 1em; */
  }
  .hamburgerIcon:hover {
    cursor: pointer;
  }
  .navToggle:checked ~ .links {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    padding: 0;
    gap: 2em;
    /* margin-top: -1.3em; */
  }
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
  }

  .links {
    display: none;
  }
  .hamburger {
    display: block;
    width: fit-content;
  }

  .hamburgerIcon {
    color: var(--primary-blue);
    font-size: 2rem;
    position: relative;
    left: 7em;
    bottom: 1em;
  }
  .hamburgerIcon:hover {
    cursor: pointer;
  }
  .navToggle:checked ~ .links {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    padding: 0;
    gap: 2em;
    margin-top: -1.3em;
  }
}

/* tablets */
@media (max-width: 960px) {
  .exploreBtnGroup {
    row-gap: 1rem;
  }

  .blogCardContainer {
    grid-template-columns: repeat(2, minmax(14rem, 25.5rem));
  }
}

/* mobile */
@media (max-width: 767px) {
  .container {
    padding: 0;
  }

  .heroBanner {
    margin-top: 1rem;
    height: 12rem;
  }

  .headerTitle {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }

  .navLink:hover {
    text-decoration: none;
  }

  .exploreBtnGroup {
    gap: 2rem;
  }

  .exploreBtn {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  .blogCardContainer {
    margin-top: 1em;
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .dayLikesDislikes {
    display: flex;
    gap: 0.9em;
  }
  .pushRight {
    position: relative;
    left: 8px;
    display: flex;
    align-items: flex-end;
    gap: 0.4em;
  }
}

scrollbar ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #142850;
}
::-webkit-scrollbar-thumb {
  background: #3598db;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.date {
  opacity: 0.7;
  font-size: 13px;
}
.datenamecontainer small {
  display: block;
}
