.container {
  margin-top: 6.75rem;
  margin-bottom: 3rem;
  padding: 1rem;

  background-color: var(--primary-blue);
  border-radius: 1rem;
  color: #fff;
}

.title {
  margin: 0;
  text-align: center;
}

.heroImage {
  display: none;
}

.emailForm {
  margin-top: 2rem;
  display: flex;
  color: var(--dark-blue);
}
.emailInput {
  flex: 1;

  width: 100%;
  padding: 1rem 1.25rem;
  padding-right: 0.5rem;

  background-color: #fff;
  border: none;
  border-radius: 1rem 0 0 1rem;

  font: inherit;
  color: inherit;
}
.emailVerifyBtn {
  flex: none;
  padding: 1rem 1.25rem;

  background-color: var(--dark-blue);
  border: none;
  border-radius: 0 1rem 1rem 0;
  color: #fff;
  font: inherit;
}

.status {
  margin: 0;
  margin-top: 0.25rem;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.emailVerified {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailEnvelopeImg {
  max-height: 2rem;
}
.input {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  color: var(--dark-blue);
}

.input + .input {
  margin-top: 1rem;
}

.loginBtn {
  display: block;
  width: 80%;
  margin: 3rem auto 1rem;
  padding: 0.75rem;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 1rem;
  color: inherit;
  font: inherit;
}

/* desktop */
@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
    padding: 1rem 4rem;
    max-width: 1000px;
  }

  .flex {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }

  .imageFlexItem {
    flex: 1;
  }

  .heroImage {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .formsFlexItem {
    flex: 1;
  }
}

.wrapper {
  display: flex;
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;
}

.input_pass {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  font: inherit;
}

.btn {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
