.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}
.signin {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-blue);
  padding: 1em 1em;
  display: block;
  text-align: center;
  /* height: 90vh; */
  border-radius: 0.5em;
  width: 100%;
}
.header {
  color: #fff;
  text-align: left;
  margin-bottom: 2em;
}
.header_text {
  max-width: 70%;
  text-align: center;
  margin: 0;
}

.cover_login {
  display: flex;
  margin-top: 4em;
}

.coverImage_login {
  /* width: 100%; */
  display: none;
}

@media (min-width: 700px) {
  .signin {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-blue);
    padding: 2em;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin-bottom: 3em;
  }
}

@media (min-width: 1200px) {
  .cover_login {
    display: flex;
    /* align-items: center; */
    gap: 3rem;
  }

  .signin {
    flex: 1;
    align-self: flex-start;
    text-align: center;
    padding: 2em 5em;
  }
  .coverImage_login {
    flex: 1;
    display: flex;
    flex-direction: column;

    color: #fff;
  }

  .coverImage_login p {
    margin: 0 auto;
    max-width: 85%;
    font-size: 1.25rem;
  }

  .coverImage_svgLogin {
    margin-top: 5rem;
    /* height: 40em; */
  }
}
