:root {
	--primary-blue: #3498db;
	--dark-blue: #142850;
}

.container{
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.result_count{
  color: #fff;
}

.blog_image{
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.blog_container{
  background-color: var(--primary-blue);
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.blog_info{
  padding: 0 1em;
}

.userName {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 700;
}

.user_avatar {
	border-radius: 2em;
}

.userContents {
	display: flex;
	align-items: center;
	gap: 0.7em;
  padding: 0 1em;
}

.blog_content{
  padding: 0 1em;
  padding-bottom: 0.5em;
}

.blogs{
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.statusMessage {
  padding: 2rem 0;
  text-align: center;
  color: #fafafa;
  font-size: 1.25rem;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  width: max-content;

  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (min-width: 900px) {
  .blog_container{
    display: flex;
    /* width: 80%;
    max-width: 1000px;
    margin: 0 auto; */
  }

  .container{
    max-width: 1000px;
    width: 70%;
  }

  .main{
    display: flex;
    flex-direction: column;
    margin-left: 1.7em;
  }

  .blog_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .result_count{
    /* margin-left: 7.7em; */
    font-size: large;
  }

  .blog_image{
    height: 14em;
    width: 75%;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5em;
  }
}