.wrapper {
  padding: 1.5rem 2rem 3rem;
  margin: 1rem;
  background-color: var(--primary-blue);
  border-radius: 1.125rem;

  color: white;
}

.title {
  margin: 0;
}

.heroImage {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.emailInputWrapper {
  display: flex;
}

.emailInput {
  width: 100%;
  flex: 1;
  padding: 0.75rem 1.25rem;
  border: none;
  background-color: #fff;
  border-radius: 0.625rem 0 0 0.625rem;

  color: var(--dark-blue);
  font: inherit;
  outline: none;
}

.emailInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.emailSubmitBtn {
  width: 3rem;
  height: 3rem;
  flex: none;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0 0.675rem 0.675rem 0;
  color: white;
  font: inherit;
  line-height: 0;
  cursor: pointer;
}

.divider {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  color: var(--dark-blue);
}

.divider span {
  flex: none;
  width: max-content;
  font-weight: bold;
}

.divider::after,
.divider::before {
  content: "";
  flex: 1;
  margin: 0 0.5rem;
  height: 0.2rem;
  background-color: #fff;
}

.googleBtn {
  margin-top: 2.375rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: #fff;
  border-radius: 0.675rem;

  color: var(--dark-blue);
  text-decoration: none;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.loginLink {
  color: var(--dark-blue);
}

/* desktop */
@media (min-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem 5.5rem;
    padding: 2.5rem 5rem;
  }

  .title {
    align-self: flex-start;
  }

  .heroImage {
    max-width: 30vw;
  }

  .lead {
    margin-top: 4rem;
    max-width: 60vw;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.5em;
  }

  .divider::after,
  .divider::before {
    margin: 0 2rem;
    width: 6rem;
  }

  .googleBtn,
  .emailInputWrapper {
    width: 25rem;
  }
}
