:root {
  --primary-blue: #3498db;
  --dark-blue: #142850;
}

.main {
  background-color: white;
  margin: -0.5em;
}

.coverImage {
  width: 100%;
  object-fit: cover;
  height: 13em;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.userProfile{
  width: 100%;
  height: 50%;
  display: flex;
  padding: 2rem 8rem;
  justify-content: space-around;
  align-items: flex-start;
}


.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 3px solid var(--primary-blue);
}

.col1{
  align-self: center;
}

.col2{
  align-self: center;
  flex-grow: 2;
  padding: 0 4rem; 
}

.col2 h1{
  margin: 0 0 10px 0;
  /* font-family: "Cera Pro"; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

col3{
  width: 30vh;
  align-self: center;
  flex-shrink: 2;
}

.profileDes{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 800;
  font-size: 0.8rem;
}

.profileFollow{
  display: flex;
  align-items: center;
  padding: 1rem 0 1.5rem 0;
}

.followIcon{
    width: 45px !important;
    height: 48px !important;
    color: #1684F8;
    background: #E8F3FF;
    border-radius: 8px;
    align-self: center;
    border-radius: 12px;
}

.follow{
  font-family: Cera Pro;
  margin: 0 20px;
}

.follow small{
  margin: 0 !important;
}

.follow h1{
  margin: 0 !important;
  font-weight: 500;
}

.follow small{
  color: #0065CF;
}

.social ul li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
}
.userButton{
  display: flex;
}
.userButton Button{
  margin-right: 2rem;
  background-color: #142850;
  color: white;
  padding: 12px 48px;
  width: 172px;
  height: 48px;
  font-size: 12px;
  border-radius: 12px;
}

.profileDescription {
  /* margin-top: -5em; */
  font-weight: 800;
  font-size: 0.8rem;
}
.link {
  color: var(--primary-blue);
  text-decoration: none;
}

.date {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5em;
}
.followCount {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1em;
  margin-top: -1.2em;
  width: max-content;
}

.breakLine {
  border: 1px solid black;
  transform: translateX();
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.bio {
  width: 150%;
}

.deleteBlog,
.editBlog {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.5em 1.2em;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}
.buttons_followButton {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.5em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: -4em;
}

.buttons_editProfile {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: -4em;
}

.secondaryButton {
  background-color: white;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 0.5em 1.3em;
}

.profileDescription {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  text-align: justify;
}

.buttons_followButton {
  align-self: flex-start;
}
.buttons_editProfile {
  align-self: flex-start;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider ::before {
  content: "";
  height: 3px;
  background-color: black;
  width: 20%;
  position: absolute;
  left: 10%;
  margin-top: 0.5em;
}
.divider ::after {
  content: "";
  height: 3px;
  background-color: black;
  width: 20%;
  position: absolute;
  right: 10%;
  margin-top: 0.5em;
}

.blogImage {
  width: 100%;
  height: 8em;
  object-fit: cover;
  border-radius: 0.5em;
}

.blogTitle {
  margin-top: 0.7em;
  font-size: 1.2rem;
  color: var(--primary-blue);
  font-weight: bold;
}

.dayLikesDislikes {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -0.5em;
  color: var(--primary-blue);
  /* margin-bottom: -0.5em; */
}

.pushRight {
  position: relative;
  left: 25px;
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}
.thumbDown {
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}

.thumbUpAlt {
  position: relative;
  top: 5px;
}
.thumbDownAlt {
  position: relative;
  top: 5px;
}

.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-blue);
  height: 40em;
  width: 60em;
  border-radius: 10px;
  padding: 1em 3em;
  color: white;
  border: 1px solid black;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  gap: 4em;
}

.firstLast > label:nth-child(3) {
  margin-left: 4em;
}

form input {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-left: 10px;
  background: var(--dark-blue);
  color: white;
}

.horizontalLine {
  width: 100%;
}

.savebtn {
  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 10px;
}

.closeBtn {
  position: relative;
  float: right;
  color: white;

  outline: none;
  border: none;
  left: 3.5vh;
  bottom: 25px;
  font-size: 60px;
  font-weight: bold;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 1;
}

.closeBtn:hover {
  transform: rotate(90deg);
}
.bio {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bio > textarea {
  height: 10em;
  width: 50em;
  margin-left: 6.6em;
  color: white;
  background: var(--dark-blue);
  padding: 0.5em;
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .coverImage {
    height: 20em;
    width: 100%;
    object-fit: cover;
  }
  .profileImage {
    left: 15.5em;
  }

  .profileDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }
  .bioDescription {
    width: 20%;
  }
  .date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
  }

  .followCount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
  .bio {
    width: max-content;
  }

  .buttons {
    align-self: flex-start;
  }

  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .img {
    width: fit-content;
  }

  .blogImage {
    width: 45%;
    height: 12em;
  }

  .blogInfo {
    width: 25%;
    align-self: center;
  }

  .divider ::before {
    content: "";
    height: 3px;
    background-color: black;
    width: 35%;
    position: absolute;
    left: 10%;
    margin-top: 0.5em;
  }
  .divider ::after {
    content: "";
    height: 3px;
    background-color: black;
    width: 35%;
    position: absolute;
    right: 10%;
    margin-top: 0.5em;
  }
}
