:root {
  --primary-blue: #3498db;
  --dark-blue: #142850;
}

.main {
  background-color: white;
  margin: -0.5em;
}

.coverImage {
  width: 100%;
  /* object-fit: cover; */
  background-size: cover;
  height: 18em;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.userProfile {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.profileDetails {
  position: relative;
}

.userBlogs > * + * {
  margin-top: 6rem;
}

.draftWrapper {
  position: relative;
}

.editDraftBtn {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  background-color: #f1f1f3;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 999px;
  transform: translate(25%, -25%);
}

.profileDetails .bannerEditIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 12px;
  right: 12px;
  color: #111;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 50%;
}

.profileImage {
  width: 250px;
  /* height: auto; */
  border-radius: 100%;
  border: 3px solid var(--primary-blue);
  object-fit: cover;
}

.col1 {
  align-self: center;
  position: relative;
}

.col1 .profileEditIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 15px;
  color: #111;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
}

.col2 {
  align-self: center;
  flex-grow: 2;
}

.col2 h1 {
  margin: 10px 0;
  /* font-family: "Cera Pro"; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

col3 {
  width: 30vh;
  align-self: center;
  flex-shrink: 2;
}

.profileDes {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 800;
  font-size: 0.8rem;
}

.profileFollow {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.followIcon {
  width: 2rem !important;
  height: 2rem !important;
  color: #1684f8;
  background: #e8f3ff;
  border-radius: 8px;
  align-self: center;
  border-radius: 12px;
}

.follow {
  font-family: Cera Pro;
  margin: 0 10px;
}

.follow small {
  margin: 0 !important;
}

.follow h1 {
  margin: 0 !important;
  font-weight: 500;
}

.follow small {
  color: #0065cf;
}

.social ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
}
.userButton {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.userButton button {
  font-size: 12px;
  flex: 1;
}

.profileDescription {
  /* margin-top: -5em; */
  font-weight: 800;
  font-size: 0.8rem;
}
.link {
  color: var(--primary-blue);
  text-decoration: none;
}

.date {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5em;
}
.followCount {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1em;
  margin-top: -1.2em;
  width: max-content;
}

.breakLine {
  border: 1px solid black;
  transform: translateX();
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.bio {
  width: 150%;
}

.deleteBlog,
.editBlog {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.5em 1.2em;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}
.buttons_followButton {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.5em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: -4em;
}

.buttons_editProfile {
  background: transparent;
  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: -4em;
}

.secondaryButton {
  background-color: white;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 0.5em 1.3em;
}

.profileDescription {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  text-align: justify;
}

.buttons_followButton {
  align-self: flex-start;
}
.buttons_editProfile {
  align-self: flex-start;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.divider::before {
  content: "";
  height: 3px;
  background-color: currentColor;
  width: 20%;
  position: absolute;
  left: 10%;
  margin-top: 0.5em;
}
.divider::after {
  content: "";
  height: 3px;
  background-color: currentColor;
  width: 20%;
  position: absolute;
  right: 10%;
  margin-top: 0.5em;
}

.blogImage {
  width: 100%;
  height: 8em;
  object-fit: cover;
  border-radius: 0.5em;
}

.blogTitle {
  margin-top: 0.7em;
  font-size: 1.2rem;
  color: var(--primary-blue);
  font-weight: bold;
}

.dayLikesDislikes {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -0.5em;
  color: var(--primary-blue);
  /* margin-bottom: -0.5em; */
}

.pushRight {
  position: relative;
  left: 25px;
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}
.thumbDown {
  display: flex;
  align-items: flex-end;
  gap: 0.4em;
}

.thumbUpAlt {
  position: relative;
  top: 5px;
}
.thumbDownAlt {
  position: relative;
  top: 5px;
}

form input {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-left: 10px;
  background: var(--dark-blue);
  color: white;
}

.editImageLabel {
  cursor: pointer;
}

.editImageInput:disabled + .editImageLabel {
  cursor: not-allowed;
  opacity: 0.4;
}

.editImageInput {
  display: none;
}

.usersImageSpinner {
  color: red;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.usersImageLoading {
  opacity: 0.5;
}

/* blog draft */
.blogDraftWrapper {
  min-height: 40vh;

  padding: 0 2rem;
  padding-top: 3.5rem;
  background-color: var(--dark-blue);
}

.navBtn {
  display: inline-block;

  margin: 0 0.5rem;
  padding: 0.3rem 1.5rem;
  border: 0.1rem solid var(--primary-blue);
  border-radius: 0.75rem;

  color: white;
  text-decoration: none;
}

.navBtnActive {
  background-color: white;
  color: var(--dark-blue);
}

/* mobile only */
@media (max-width: 1000px) {
  .modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
  }
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .col2 {
    padding: 0 2rem;
  }

  .coverImage {
    height: 20em;
    width: 100%;
    object-fit: cover;
  }
  .profileImage {
    left: 15.5em;
  }

  .col2 h1 {
    text-align: left;
  }

  .profileDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }

  .userButton button {
    flex: unset;
  }

  .bioDescription {
    width: 20%;
  }
  .date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
  }

  .followCount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
  .bio {
    width: max-content;
  }

  .buttons {
    align-self: flex-start;
  }

  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .img {
    width: fit-content;
  }

  .blogImage {
    width: 45%;
    height: 12em;
  }

  .blogInfo {
    width: 25%;
    align-self: center;
  }

  .divider::before {
    content: "";
    height: 3px;
    background-color: currentColor;
    width: 35%;
    position: absolute;
    left: 10%;
    margin-top: 0.5em;
  }
  .divider::after {
    content: "";
    height: 3px;
    background-color: currentColor;
    width: 35%;
    position: absolute;
    right: 10%;
    margin-top: 0.5em;
  }

  .blogDraftWrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
