:root {
	--primary-blue: #3498db;
	--dark-blue: #142850;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: var(--dark-blue);
	font-family: 'Montserrat', sans-serif;
}

.blog-image {
	width: 100%;
	height: 28em;
	object-fit: cover;
	border-radius: 0.5em;
}

.container {
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
}
.nav {
	padding: 1em 0;
}

.d-flex {
	display: flex;
	justify-content: space-between;
}

.links {
	margin-left: 45em;
	list-style-type: none;
}
.nav-toggle {
	display: none;
}

.hamburger {
	display: none;
}
.nav_link {
	text-decoration: none;
	color: var(--primary-blue);
	font-weight: 700;
	font-size: 1.3rem;
}
.nav_link :hover {
	text-decoration: underline;
	-webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under;
	text-underline-offset: 6px;
	text-decoration-thickness: 3px;
}

.title {
	color: var(--primary-blue);
}

.author {
	display: flex;
	align-items: center;
	gap: 0.6em;
}

.author-name {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
}

.avatar {
	border-radius: 2em;
}

.blog-area {
	margin-top: 2em;
}

.blog-content {
	margin-top: 4em;
	color: #fff;
}

.meta {
	margin-bottom: 2em;
}

.meta-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.view-icon,
.thumb-up,
.thumb-down {
	color: var(--primary-blue);
	font-size: 2.5em;
	position: relative;
	top: 10px;
}
.view-icon {
	color: var(--primary-blue);
	font-size: 2.5em;
	position: relative;
	top: 13px;
}
.push--right {
	margin-left: 60em;
}

.views,
.likes,
.dislikes {
	font-size: 1rem;
	font-weight: bold;
	color: var(--primary-blue);
}

@media (max-width: 1500px) {
	.links {
		margin-left: 0;
	}
	.d-flex {
		display: flex;
		justify-content: flex-end;
		gap: 3em;
	}
}

@media (max-width: 600px) {
	.links {
		display: none;
	}
	.hamburger {
		display: block;
		width: fit-content;
	}

	.hamburger-icon {
		color: var(--primary-blue);
		font-size: 2rem;
	}
	.hamburger-icon:hover {
		cursor: pointer;
	}
	.nav-toggle:checked ~ .links {
		display: flex;
		flex-direction: column;
		font-size: 0.5rem;
		padding: 0;
		gap: 2em;
	}
}
@media (max-width: 600px) {
	.nav_link :hover {
		text-decoration: none;
	}

	.blog-image {
		width: 100%;
		height: 12em;
	}
	.blog-content {
		margin-top: 2em;
	}
}

@media (max-width: 1500px) {
	.push-right {
		margin-left: 0;
	}
}
