:root {
  --primary-blue: #3498db;
  --dark-blue: #142850;
  --o-dark-blue: 20, 40, 80;
}
.blogImage {
  width: 100%;
  height: 28em;
  object-fit: cover;
  border-radius: 0.5em;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}
.title {
  color: var(--primary-blue);
}
.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorContents {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.authorContents a {
  text-decoration: none;
}
.authorName {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.avatar {
  border-radius: 2em;
  width: 50px;
  height: 50px;
}
.buttons {
  display: flex;
  gap: 2em;
}

.published {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #fff;
  font-size: medium;
}

.blogArea {
  margin-top: 2em;
}

.bannerad{ /* Banner ad */
  margin-top: 2rem;
  height: 72px;
  text-align: center;
}

.bannerad iframe{
  width: 728px;
}

.blogContent {
  margin-top: 4em;
  color: #fff;
}

.meta {
  margin-bottom: 2em;
}

.button {
  background: transparent;
  border: none;
  color: #fff;
  background-color: var(--primary-blue);
  padding: 0.7em 1.5em;
  border-radius: 0.6em;
  cursor: pointer;
}

.followButton {
  padding-left: 2.2em;
  padding-right: 2.2em;
}

.shareButton {
  background-color: var(--dark-blue);
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.metaContent {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.viewIcon,
.thumbUp,
.thumbDown {
  color: var(--primary-blue);
  /* font-size: 2.5em;
	position: relative;
	top: 10px; */
  cursor: pointer;
}

.viewCount,
.likesCount,
.dislikesCount {
  font-size: larger;
}
.likesCount {
  position: relative;
  top: 2px;
}

.views {
  flex: 1;
}

.views,
.likes,
.dislikes {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-blue);
  display: flex;
  margin-top: 2em;
  align-items: center;
  gap: 0.4em;
}

/* Comment Form Styles */
.commentForm {
  margin: 1.5rem 1rem;
  display: flex;

  font-size: 1.25rem;
  font-weight: normal;
}

.commentInput {
  padding: 0.5rem 2.5rem;
  flex: 1;

  background-color: #e8f3ff;
  border: none;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  outline: none;

  color: var(--primary-blue);
  font: inherit;
}

.commentInput:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-blue);
}

.commentStatus {
  margin: 1rem 0;
  padding: 0 2.3rem;
  color: white;
}

.commentBtn {
  padding: 0 1.5rem;
  display: block;

  background-color: #e8f3ff;
  border: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  outline: none;
  border-left: 0.2rem solid rgba(var(--o-dark-blue), 0.2);

  font: inherit;
  line-height: 0;
  cursor: pointer;
}

.commentBtn > svg {
  margin-right: 1rem;
}

.commentBtn:hover {
  color: var(--primary-blue);
}

.commentBtn:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-blue);
}

.commentBtn:disabled {
  opacity: 0.5;
}

/* wrapper */
.signupModalWrapper {
  padding: 1rem 5rem !important;
}

/* title */
.signupModalWrapper h1 {
  font-size: 1.5rem;
}

/* hero image */
.signupModalWrapper img {
  margin-top: 1rem;
  height: 10rem;
}

/* lead */
.signupModalWrapper p:first-of-type {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

/*
  google btn
  email input
*/
.signupModalWrapper a {
  margin-top: 0.75rem;
}
/* divider */
.signupModalWrapper [data-divider] {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media (max-width: 600px) {
  .blogImage {
    width: 100%;
    height: 12em;
  }
  .blogContent {
    margin-top: 2em;
  }
  .author {
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
  }

  .commentForm {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .commentInput {
    padding: 0.5rem 1rem;
    display: inline-block !important;

    width: 100%;
  }
  .commentBtn {
    /* padding: 0; */
    padding-left: 0.5rem;
    padding-right: 0.75rem;
  }
  .commentStatus {
    padding: 0;
  }
}

@media (max-width: 999px) {
  .signupModalWrapper {
    padding: 2.5rem 3rem !important;
  }
  .signupModalWrapper p:first-of-type {
    max-width: 20rem;
    font-size: 1rem;
  }
  .signupModalWrapper img {
    display: none;
  }
  .signupModalWrapper a {
    margin-top: 2rem;
  }
  .signupModalWrapper [data-divider] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .bannerad iframe{ /* Banner ad width change */
    width: 30rem;
  }
}

.view_all {
  background-color: var(--primary-blue);
  border: none;
  letter-spacing: 1px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  float: right;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .pushRight {
    margin-left: 0;
  }
}
