:root {
	--primary-blue: #3498db;
	--dark-blue: #142850;
}
.blogImage {
	width: 100%;
	height: 28em;
	object-fit: cover;
	border-radius: 0.5em;
}

.container {
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
}

.nav {
	padding: 1em 0;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.links {
	margin-left: 45em;
	list-style-type: none;
}

.navToggle {
	display: none;
}
.hamburger {
	display: none;
}

.navLink {
	text-decoration: none;
	color: var(--primary-blue);
	font-weight: 700;
	font-size: 1.3rem;
}
.navLink:hover {
	text-decoration: underline;
	-webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under;
	text-underline-offset: 6px;
	text-decoration-thickness: 3px;
}
.title {
	color: var(--primary-blue);
}
.author {
	display: flex;
	align-items: center;
	gap: 0.6em;
}
.authorName {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
}

.avatar {
	border-radius: 2em;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blogArea {
	margin-top: 2em;
}

.blogContent {
	margin-top: 4em;
	color: #fff;
}

.follow {
	background: transparent;
	border: none;
	color: #fff;
	background-color: var(--primary-blue);
	padding: 0.75em 1em;
	border-radius: 0.6em;
	cursor: pointer;
}

.meta {
	margin-bottom: 2em;
}

.metaContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.viewIcon,
.thumbUp,
.thumbDown {
	color: var(--primary-blue);
	position: relative;
	top: 6px;
}
.viewIcon {
	color: var(--primary-blue);
	position: relative;
	top: 11px;
}
.pushRight {
	margin-left: 60em;
}
.views,
.likes,
.dislikes {
	font-size: 1rem;
	font-weight: bold;
	color: var(--primary-blue);
}

@media (max-width: 1500px) {
	.links {
		margin-left: 0;
	}
	.flex {
		display: flex;
		justify-content: flex-end;
		gap: 3em;
	}
}

@media (max-width: 600px) {
	.links {
		display: none;
	}
	.hamburger {
		display: block;
		width: fit-content;
	}

	.hamburgerIcon {
		color: var(--primary-blue);
		font-size: 2rem;
	}
	.hamburgerIcon:hover {
		cursor: pointer;
	}
	.navToggle:checked ~ .links {
		display: flex;
		flex-direction: column;
		font-size: 0.5rem;
		padding: 0;
		gap: 2em;
	}
}
@media (max-width: 600px) {
	.navLink :hover {
		text-decoration: none;
	}

	.blogImage {
		width: 100%;
		height: 12em;
	}
	.blogContent {
		margin-top: 2em;
	}
}

@media (max-width: 1500px) {
	.pushRight {
		margin-left: 0;
	}
}
