<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
</head>

<body style="
      margin: 0;
      background-color: #e8f3ff;
      font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
    ">
    <h1 style="
        margin: 0;
        padding: 2rem 0;
        background-color: #003d7d;
        color: #fff;
        text-align: center;
        font-size: 2.625rem;
      ">
        Papersdrop
    </h1>

    <div style="
        margin: 0 auto;
        padding: 2rem 0;
        max-width: 600px;
        background-color: #fff;
      ">
        <img style="display: block; width: 56%; max-width: 50vw; margin: 0 auto"
            src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/hero_cncvm8.jpg"
            alt="office desk with pen, pencil, paper, coffe and laptop" />
        <p style="
          margin: 0;
          margin-top: 2rem;
          padding: 0 1.5rem;
          padding-top: 1.75rem;
          font-size: 1rem;
          color: #111;
        ">
            Hey there! Forgot your password? We received a requrest to reset the password for your account, use the link
            below to get started.
            {% if password %}

            By the way, Here's your temporary password: {{password}}
            {%endif%}
        </p>

        <a style="
          display: block;
          width: max-content;
          margin: 0 auto;
          margin-top: 2rem;
          padding: 0.5rem 1.5rem;

          border-radius: 0.625rem;
          text-decoration: none;
          background-color: #003d7d;
          color: #fff;
          font-size: 1.5rem;
        " href="{{link}}">Reset Your Password</a>
    </div>

    <footer style="background-color: #142850; color: #fff">
        <p style="
          margin: 0 auto;
          max-width: 600px;
          padding: 0.75rem 1.5rem;
          font-size: 1rem;
          box-sizing: border-box;
        ">
            If you do not wish to receive these e-mails in the future, please
            <a style="color: inherit" href="{{domain}}receive-no-email">click here.</a>
        </p>

        <hr style="margin: 0; background-color: #ccf7ff" />

        <p style="
          margin: 0.5rem auto;

          max-width: 600px;
          padding: 0.75rem 1.5rem;
          font-size: 1.5rem;
          box-sizing: border-box;
        ">
            Thanks,<br />
            Papersdrop team
        </p>

        <div style="
          margin-left: auto;
          margin-right: auto;

          max-width: 600px;
          padding: 1.75rem 1.5rem;
          box-sizing: border-box;
        ">
            <p style="
            margin-right: 0.25rem;
            font-size: 1.5rem;
            font-weight: bold;
            vertical-align: middle;
          ">
                Follow Us
            </p>

            <a style="
            display: inline-block;
            margin-right: 1rem;
            text-decoration: none;
          " href="{{domain}}receive-no-email">
                <img width="48" src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/facebook_ni3vtt.png"
                    fill="#003d7d" alt="facebook blue f logo" />
            </a>

            <a style="
            display: inline-block;
            margin-right: 1rem;
            text-decoration: none;
          " href="{{domain}}receive-no-email">
                <img width="48" src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/instagram_swx5vr.png"
                    fill="#003d7d" alt="instagram camera logo" />
            </a>

            <a style="
            display: inline-block;
            margin-right: 1rem;
            text-decoration: none;
          " class="icon-link" href="{{domain}}receive-no-email">
                <img width="48" src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/twitter_qdmcgs.png"
                    alt="twitter bird logo" />
            </a>

            <a style="
            display: inline-block;
            margin-right: 1rem;
            text-decoration: none;
          " class="icon-link" href="{{domain}}receive-no-email">
                <img width="48" src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/youtube_fuoykp.png"
                    alt="youtube play button logo" />
            </a>

            <a style="display: inline-block; text-decoration: none" class="icon-link" href="{{domain}}receive-no-email">
                <img width="48" src="https://res.cloudinary.com/dd8470vy4/image/upload/v1633431936/linkedin_ghl7mh.png"
                    alt='linkedin "in" logo' />
            </a>
        </div>

        <hr style="margin: 0; background-color: #ccf7ff" />

        <div style="
          margin-left: auto;
          margin-right: auto;

          max-width: 600px;
          padding: 0.5rem 1.5rem;
          font-size: 1.125rem;
          line-height: 2;
          box-sizing: border-box;
        ">
            <p style="margin: 0">
                Copyright © 2021 Papersdrop, All rights reserved.
            </p>

            <p style="margin: 0">
                Our mailing address is: Papersdrop Inc., Technology Tower, VIT
                Vellore-632014
            </p>
        </div>
    </footer>
</body>

</html>