.base {
  display: inline-flex;
  align-items: center;

  padding: 0;
  --main: #fff;
  background-color: var(--main);
  --accent: #111;
  color: var(--accent);
  border-width: 0;
  font: inherit;

  transition: 150ms ease-in-out;
  transition-property: background-color, color, opacity;
  cursor: pointer;
  text-decoration: none;
  border: var(--border);
}

.base:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loadingIcon {
  margin-right: 0.75em;
}

/* variant */
.primary {
  --main: var(--primary-blue);
  --accent: #fff;
}

.outline.primary {
  --main: #fff;
  --accent: var(--primary-blue);
  --border: .15rem solid var(--accent);
}

.dark {
  --main: var(--dark-blue);
  --accent: #fff;
}

.secondary {
  --main: rgba(245, 245, 245, 1);

  --accent: var(--primary-blue);
}

.secondary:hover {
  --main: rgba(0, 0, 0, 0.05);
}

/* size */
.small {
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
}

.normal {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}
