.wrapper {
  background-color: var(--dark-blue);

  min-height: 40em;
  width: 100vw;
  max-width: 60em;
  border-radius: 30px;
  padding: 1em 0;
  color: white;
  border: 1px solid black;
  position: relative;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.closeBtn {
  position: relative;
  float: right;
  color: white;

  outline: none;
  border: none;
  right: 1vh;
  bottom: 10px;
  font-size: 40px;
  font-weight: lighter;
  /* font-weight: bold; */
  background: transparent;
  transition: all 0.5s ease;
  z-index: 1;
}

/* .closeBtn:hover {
  transform: rotate(90deg);
} */

.heading{
  font-size: 26px;
  margin-left: 30px;
  font-weight: normal;
}

.formSection{
  display: flex;
  margin: 60px 20px 0;
  flex-direction: column;
}

.topSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label{
  margin-right: 10px;
}

input{
  background: none;
  border: none;
  border-bottom: 1px solid #CCF7FF;
  color: #CCF7FF;
  width: 60%;
}

.nameSection {
  display: flex;
  justify-content: space-between;
}

.topSection div:not(.nameSection){
  width: 40%;
}

.nameSection div:nth-of-type(2){
  display: flex;
  justify-content: flex-end;
}

.nameSection #firstName {
  margin-left: 10px;
}

.url {
  width: 40%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  gap: 4em;
}

.firstLast > label:nth-child(3) {
  margin-left: 4em;
}

.horizontalLine {
  width: 100%;
  border: none;
  border-top: 1px solid #CCF7FF;
}

.bio {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bio > textarea {
  max-height: 10em;
  margin-left: 1rem;
  flex: 1;
  color: white;
  background: var(--dark-blue);
  padding: 0.5em;
  border: 1px solid;
  resize: vertical;
}

.savebtn {
  display: flex;
  align-items: center;
  column-gap: 1ch;

  border: none;
  background-color: var(--primary-blue);
  padding: 0.6em 1.2em;
  width: max-content;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 10px;
}

.saveBtn{
  padding: 0.5rem 2.75rem;
  border-radius: 12px;
}

.inputError {
  color: red;
  font-size: 0.875rem;
}

.backBtn {
  display: none;
}

@media (max-width: 1000px) {
  .wrapper {
    border-radius: 0;
    min-height: 100%;
    padding: 2rem;
  }

  .closeBtn {
    display: none;
  }

  .backBtn {
    display: block;
    position: relative;
    left: 3.5vh;
    bottom: 25px;

    margin: 1rem;

    float: right;
    color: white;

    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;

    z-index: 1;
  }
}
