.footerWrapper {
  --link: #94c8ff;
  --link-light: #a0c3f8;
  --link-dark: #409af9;

  padding: 0 7.125rem;

  background-color:var(--link-dark);
  color: var(--inverted);
}

.grid {
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  display: grid;

  grid-template-areas:
    "logo about sitelink address"
    "logo about sociallink address";

  grid-template-columns: auto 1.5fr 4fr 2fr;
}

.logo {
  padding: 0.4rem 2rem;
  grid-area: logo;
  width: 10rem;
  max-width: 10rem;
}

.about {
  grid-area: about;
  line-height: 1.7;
}

.siteLinks {
  grid-area: sitelink;
  display: flex;
  gap: 3rem;
  justify-self: center;

  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--link);
}

.socialLinks {
  grid-area: sociallink;

  display: flex;
  gap: 3rem;
  justify-self: center;

  font-size: 2rem;
  color: var(--inverted);
}

.addresses {
  grid-area: address;
}

.address {
  margin: 1.5rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.address svg {
  font-size: 2rem;
}

.flex {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;

  border-top: 0.1rem solid var(--secondary);
}

.menuItem {
  display: inline-block;
  color: var(--accent);
}

.menuItem:not(:first-child)::before {
  margin: 0 0.5rem;
  content: "|";
}

.copyRight {
  color: var(--accent);
}

@media only screen and (max-width: 960px) {
  .footerWrapper {
    padding: 0 1rem;
  }

  .grid {
    grid-template-areas:
      "logo about"
      "sitelink sitelink"
      "sociallink sociallink "
      "address address";
    grid-template-columns: auto 1fr;

    row-gap: 2rem;
  }

  .about {
    max-width: 20rem;
  }

  .flex {
    flex-direction: column;
  }

  .menuItem:first-child {
    margin-left: 0.5rem;
  }

  .copyRight {
    margin-top: 4rem;
  }
}
