.bottomDivider,
.divider {
  --space: 0rem;
  --width: 0.1em;
  position: relative;

  display: flex;
  align-items: center;

  padding: 1rem 0;

  color: white;
}

.divider> :first-child {
  margin: 0;
  flex: none;
  width: max-content;
}

/* horizontal line */
.bottomDivider::before,
.divider::after {
  content: "";
  height: var(--width);
  flex: 1;
  background-color: currentColor;
  margin-right: calc(var(--space) * -6);
}

.divider::after {
  margin-left: calc(var(--space) * 3);
}

.bottomDivider::before {
  flex: 0.8 !important;
  margin-left: calc(var(--space) * -1);
}

/* vertical line */
.bottomDivider::after,
.divider::before {
  content: "";

  position: absolute;
  width: var(--width);
  height: max(50vh, 512px);

  flex: none;
  justify-self: flex-start;
  align-self: flex-start;

  background-color: currentColor;
}

.divider::before {
  top: 1.9rem;
  right: 0;
  /* right: calc(var(--space) * -1); */
}

.bottomDivider::after {
  bottom: 1rem;
  left: calc(var(--space) * -1);
}

/* Filter */
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -91.9rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.filter p {
  padding-right: 9px;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 5px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent hr {
  /* border-bottom: 1px solid white; */
  margin: 0;
  background-color: white;
}

.dropdownContent a:hover {
  border-radius: 10px;
}

.dropdown:hover .dropdownContent {
  display: block;
}


/* desktop */
@media (min-width: 1000px) {

  .bottomDivider,
  .divider {
    --space: -2rem;
    /* padding: 3rem 0; */
  }

  .bottomDivider {
    padding-bottom: 3rem;
  }

  .divider::before {
    top: 50%;
    right: calc(var(--space) * -1);
  }

  .bottomDivider::after {
    bottom: 3rem;
    left: calc(var(--space) * -1);
  }
}