.googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 0.75rem;

  background-color: #fff;
  border-radius: 1rem;

  color: var(--dark-blue);
  text-decoration: none;
  font-size: 1.25;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
}

.divider {
  margin: 0.5rem 0 !important;
}

.signin_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.email_password {
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.email,
.password {
  width: 100%;
  padding: 0.9rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;

  font: inherit;
  font-family: "Montserrat", sans-serif;
}

.forgotPasswordLink {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 2%;
  color: #fff;
}

.signinButton {
  display: block;
  color: #fff;
  width: 80%;
  margin: 2rem auto 1rem;
  padding: 0.75rem;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 1rem;
  font: inherit;
}

.signinButton svg {
  margin-left: 1rem;
}

.signupLink {
  margin: 0;
  margin-top: 2.5rem;
  color: #fff;
}
.signupLink a {
  color: var(--dark-blue);
}

@media (min-width: 700px) {
  .signin_form {
    gap: 0;
  }

  .divider {
    margin: 1.5rem 0 !important;
  }

  .email_password {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }
}

@media (min-width: 1200px) {
  .email_password {
    display: flex;
    flex-direction: column;
  }
}
