.textarea {
  position: relative;
  margin-top: 10%;
  padding: 10px;
  border: 2px solid transparent;
  left: 5%;
  outline: none;
  resize: none;
}
.markdown {
  position: relative;
  margin-top: 4%;
  padding: 10px;
  height: auto;
  word-wrap: break-word;
  margin-left: 50%;
  width: 44%;
  background-color: white;
}
.mainmark {
  color: #3498db;
}
.bg {
  background-color: transparent;
}
.upload {
  padding: 10px;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: transparent;
  cursor: pointer;
  margin: 0px 10px 20px 0;
  text-decoration: none;
  color: white;
}

.pos {
  position: relative;
  margin-left: 20%;
  margin-top: 10px;
}
