.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper::before {
  opacity: 0.5;
}
.wrapper::after {
  opacity: 1;
}
