.wrapper {
  display: flex;
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;
}

.input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
}

.btn {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
