:root {
	--primary-blue: #3498db;
	--dark-blue: #142850;
}

.search {
	display: flex;
	align-items: center;
	justify-self: flex-start;
	height: 3rem;
	/* margin-left: -10em; */
}

.searchBar {
	background-color: var(--primary-blue);
	border: none;
	height: 2.7em;
	border-radius: 0.5em;
	color: #fff;
	padding: 0 1em;
  outline: none;
}

.submitButton{
	background: transparent;
	outline: none;
	border: none
}

.searchIcon {
	position: absolute;
	width: 30%;
	margin-left: -1.2em;
	margin-top: -0.7em;
	color: #fff;
}
.searchIcon:hover {
	cursor: pointer;
}

@media (max-width:1100px){
  .search{
    /* margin-left: 0em; */
    margin-bottom: 2em;
    margin-top: -1.5em;
  }
}

@media (max-width: 600px) {
  .search{
    margin-bottom: 2em;
    margin-top: -1.5em;
  }
  .searchBar{
    width: 100%;
  }
}

