.wrapper {
  padding: 1rem 3rem 3rem;
  min-width: 40rem;
  background-color: var(--primary-blue);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
}

.body {
  text-align: center;
}
.body > * + * {
  margin-top: 2rem;
}

.headTitle {
  flex: 1;
  font-size: 1.25rem;
}

.closeBtn {
  flex: none;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  border-radius: 999px;

  /* make children's text center vertically center  */
  line-height: 0;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(90deg);
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;

  border-radius: 999px;
}

.urlWrapper {
  display: flex;
  font-size: 1.1rem;
}

.url {
  flex: 1;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  border-radius: 0.3rem 0 0 0.3rem;

  color: var(--primary-blue);
}

.copyBtn {
  flex: none;
  padding: 0.5rem 0.75rem;

  background-color: #fff;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;

  font: inherit;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.copyBtn:hover {
  color: #666;
}

@media (max-width: 960px) {
  .wrapper {
    min-width: auto;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem;
  }
  .headTitle {
    margin: 0;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    margin: 0.75rem;
  }
  .url {
    word-break: break-word;
  }
}
