.blogLink{
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem 5rem;
  position: relative;
}

.edit_icon{
  color: #3498DB;
}

.blogImage {
  flex: 1;
  max-width: 26rem;
  border-radius: 1rem 0 0 1rem;
}

.detailsWrapper {
  flex: 3;

  padding: 1rem 4rem;

  background-color: var(--primary-blue);
  border-radius: 0 1rem 1rem 0;
  color: white;
}

.titleWrapper {
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blogTitle {
  margin: 0 0 0 0.5rem;
  flex: 1;
  font-size: 2.5rem;
  font-weight: bold;
}

.blogDate{
  font-size: 1.8rem;
  margin: 5px 0;
}

.profileDetailsWrapper {
  /* padding-top: 1.5rem; */
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 0;
}

.profileImage {
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 999px;
}

.profileName {
  font-size: 1.3rem;
  margin: 0;
  flex: 1;
}

.blogStatus {
  font-size: 15px;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-top: 1rem;
  border-radius: 999px;
  background-color: #fafafa;
  color: #666;
}

.blogDescription {
  /* padding-top: 1rem; */
  margin: 0 0 0 0.5rem;
  line-clamp: 5;
  overflow-y: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.blogDescription h1{
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.blogDescription p{
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.editDraftBtn {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 5rem;

  background-color: #f1f1f3;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 999px;
  transform: translate(25%, -25%);
}

.edit_icon {
  width: 3rem;
  height: 3rem;
}

.blogOption {
  display: flex;
}

.blogOptionIcon {
  margin: 0 5px;
}

@media screen and (max-width:1300px) {
  .wrapper {
    padding: 0;
    margin: 0 2rem 1rem;
  }

  .editDraftBtn {
    width: 3rem;
    height: 3rem;
  }

  .edit_icon {
    width: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .titleWrapper {
    /* display: block; */
    width: 100%;
    align-items: center;
    display: flex;
  }

  .blogTitle {
    width: max-content;
    font-size: 100%;
  }

  .blogDate {
    width: max-content;
    top: -10px;
    right: 10px;
    position: absolute;
    /* margin: 0; */
    font-size: 0.8rem;
    /* margin: 0 10% 0 0; */
  }

  .blogStatus {
    margin-top: 0;
    width: max-content;
  }

  .detailsWrapper {
    padding: 0.5rem;
  }

  .profileDetailsWrapper {
    /* display: block; */
    position: relative;
    display: flex;
    width: 100%;
  }

  .profileWrapper {
    padding: 0;
    max-width: max-content;
  }

  .blogImage {
    /* border-radius: 1rem 0 0 0; */
    width: 30%;
  }

  .blogOptionIcon {
    width: 24px;
    height: 24px;
  }

  .profileImage {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profileName {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .blogDescription h1 {
    width: max-content;
    font-size: 100%;
  }

  .blogDescription p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
